@font-face {
  font-family: 'iconfont';  /* project id 1399933 */
  src: url('https://at.alicdn.com/t/font_1399933_kshdhpi84a.eot');
  src: url('https://at.alicdn.com/t/font_1399933_kshdhpi84a.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1399933_kshdhpi84a.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1399933_kshdhpi84a.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1399933_kshdhpi84a.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1399933_kshdhpi84a#iconfont') format('svg');
}

.iconfont {
font-family: "iconfont" !important;
font-size:40rpx;
font-style:normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.icon-search:before { content: "\e60b"; }

.icon-tubiaozhizuo-:before { content: "\e606"; }

.icon-tubiaozhizuo-1:before { content: "\e607"; }